*{
    margin: 0px;
    padding: 0px;
}
.div1{
    width: 100%;
    height: 10vh;
    background-color: yellow;
    display: inline-flex;
    justify-content: space-between;
}
.div2{
width: 30%;
height: 10vh;
background-color: brown;
display: inline-flex;
justify-content: space-around;
align-items: center;
}
#id1{
background-color: blue;

}
#id2{
width: 130px;
height: 6vh;
border-radius: 10px;
border: none;
display: inline-flex;
justify-content: space-evenly;
align-items: center;
background-color: blueviolet;
}
#id3{
width: 150px;
height: 6.5vh;
border-radius: 15px;
border: none;
}
#but1{
display: inline-flex;
align-items: center;
margin-left: 30px;
}
.div3{
    width: 30%;
    height: 10vh;
    background-color: brown;
    display: inline-flex;
    
    align-items: center;
    }
    .div4{
        width: 30%;
        height: 10vh;
        background-color: brown;
        display: inline-flex;
        
        align-items: center;
        }
    #id5{
        width: 80px;
        height: 5vh;
        background-color: blueviolet;
        border-radius: 10px;
        border: none;
        margin-left: 300px;
    }
    #svg1{
        margin-left: 260px;
        position: absolute;
    }
    .div5{
        width: 99%;
        height: 60vh;
        background-color: cadetblue;
        display:inline-flex ;
        justify-content: center;
      
        margin-left: 8px;
    }
    #id6{
        width: 100%;
        height: 60vh;

    }
    .div7{
width: 98%;
height: 70vh;


margin-left: 15px;

    }
.div8{
    width: 23.5%;
    height: 70vh;
    background-color: cadetblue;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.div9{
    width: 100%;
    height: 30vh;
    background-color: yellow;
}
.div10{
    width: 100%;
    height: 10vh;
    background-color: yellow;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.div11{
    width: 100%;
    height: 5vh;
    background-color: yellow;
}
.div12{
    width: 100%;
    height: 7vh;
    background-color: yellow;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.div13{
    width: 100%;
    height: 9vh;
    background-color: yellow;
   display: inline-flex;
   justify-content: space-evenly;
   align-items: center;
}
.div15{
    width: 45%;
    background-color: blueviolet;
    display: inline-flex;
}
#id8{
    width: 50px;
    height: 7vh;
    border: none;
    border-radius: 10px;
}
#id9{
    margin-left: 15px;
}
#svg2{
margin-left: 15px;

}
#id10{
    margin-left: 45px;
    margin-top: 12px;
    position: absolute;
}
#id11{
    margin-left: 80px;
    margin-top: 12px;
    position: absolute;
}
#id16{
    width: 100%;
    border-radius: 10px;
}
#id17{
    width: 30%;
    height: 6vh;
    background-color: blueviolet;
    border-radius: 10px;
    border: none;
}
.right{
    width: 50px;
    height: 6.6vh;
    background-color: brown;
    display: inline-flex;

    align-items: center;
    margin-right: 120px;
}
#id18{
    margin-top: 10px;
    margin-left: 23px;
    position: absolute;
}

